[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
build = "mkdocs build"

[packages]

[dev-packages]
mkdocs-gitbook = "*"
mkdocs-material = "*"

[requires]
python_version = "3.9"
